<div class="app-wrapper" [style.background-color]="unitService.backgroundColor()">
    @if (isStandalone) {
      <standalone-menu></standalone-menu>
    }
    <h1>{{unitService.title()}}</h1>
    <p>{{unitService.description()}}</p>
    <widget-starter></widget-starter>

    @if (unitService.continueButton() === "ALWAYS") {
        <button (click)="continue()"
                class="continue-button"
                data-cy="continue-button">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.932617" y="0.621094" width="70" height="70" rx="35" fill="#0050E5"/>
                <path d="M50.1328 35.621L20.1328 35.621" stroke="white" stroke-width="5" stroke-linecap="round"/>
                <path d="M38.7324 22.621L51.7325 35.6211L38.7324 48.6212" stroke="white" stroke-width="5"
                      stroke-linecap="round"/>
            </svg>
        </button>
    }
</div>
