.continue-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  background-color: transparent;
  border: none;
}

.app-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 16px;
}
