button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #EEE;
}

.var-data {
  margin: 0 10px;
  border-top: lightgrey solid 1px;

  select {
    width: 98%;
  }

  input {
    width: 95%;
  };
}

.var-data-header {
  margin-left: 10px;
  font-weight: bolder
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0;
}